{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
    <div style="padding-left:200px; margin-right:200px;"
        <form method = "POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type ="submit" class="btn btn-info"> Sign Up </button>
        </form>
      </div>
    {% endblock %}
