{% extends 'categories/base.html' %}
{% block content %}

<style>
  .thumbnail {
    position: relative;
	}

	.caption {
	    position: absolute;
	    top: 15%;
	    left: 15%;
	    margin:auto;
        width:70%;        
	}
    .caption .content{
        color:	#2F4F4F;
        background:#EEEEEF;
        padding-top: 70px;
        padding-bottom:70px; 
    }
    .topcaption{
        position: absolute;
	    top: 2%;
	    left: 12%;
	    width: 65%;
        text-align:left;
        color:white;
    }	

</style>

<div class="row" id="box-search"  style="margin-top:-15px;">
    <div class="thumbnail text-center">
        <img src="/static/back.svg" width="100%" height="50%" alt="My image" class="img-responsive">
        <div class="topcaption">
            <h1>Knowhere</h1>
            <p>A place to find what you want</p>
        </div>
        <div class="caption">
                <img src="/static/back.jpg" width="100%" height="50%" alt="My image" class="img-responsive">
                <div class="content">
                    <h3>Knowhere directs u to your search.</h3>
                    <p>You can search for any company or product you want.<br>Lists the best options near you.</p>

                    

                </div>
        </div>
    </div>
</div>

{% endblock %}