<!DOCTYPE html>
<html>
<head>
	{% block title %}
	<title>Knowhere</title>
	{% endblock %}
	<!-- for the map -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
  	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
	integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
	crossorigin=""></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style>
		.navbar{
			/* default fallback */
			background: rgb(000, 005, 200) transparent;
			/* nice browsers */
			background: rgba(250, 260, 300, 0.95);
		}
		a{
		  color: #C7C6C6;
			text-align: center;
		}
		a:hover{
			color: #EDE7E7;
			text-decoration: none;
		}
		footer{
			position:relative;
			bottom:0;
			left:0;
			right:0;
		}
</style>
<body class=" p-3 mb-2 bg-light text-dark">

	<nav class="navbar fixed-top navbar-light justify-content-between shadow p-3 mb-5 rounded">
		<div class="container">
		  <a class="navbar-brand mb-0 h1" href="#">Knowhere</a>

			<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

			{% if user.is_authenticated %}
		<div class="row">
				<div class="column">
					<a href = "#"><button class="btn btn-primary mr-3" > Log Out </button></a>
				</div>
				<div class="column">
					<a href = "#"><button class="btn btn-primary"> Profile </button></a>
				</div>
			</div>

			{% else %}
			<div class="row">
				<div class="column">
					<a href = "#"><button class="btn btn-primary mr-3"> Log In </button></a>
				</div>
				<div class="column">
					<a href = "#"><button class="btn btn-primary"> Register </button></a>
				</div>
			</div>
		{% endif %}
			</div>
		</nav>
		<br><br><br>


	{% block content %}
	{% endblock %}

 {% block footer %}
	<footer class="page-footer font-small mdb-color pt-4" style="bottom:0;">

	  <!-- Footer Elements -->
		<!-- Grid row-->
		        <div class="row py-4 d-flex text-light align-items-center"style="margin-bottom:-17px;background-color:#1E282D">

		          <!-- Grid column -->
		          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
		            <h6 class="mb-0">Get connected with us on social networks!</h6>
		          </div>
		          <!-- Grid column -->

		          <!-- Grid column -->
		          <div class="col-md-6 col-lg-7 text-center text-md-right">

		            <!-- Facebook -->
		            <a class="fb-ic">
		              <i class="fab fa-facebook-f white-text mr-4"> </i>
		            </a>
		            <!-- Twitter -->
		            <a class="tw-ic">
		              <i class="fab fa-twitter white-text mr-4"> </i>
		            </a>
		            <!-- Google +-->
		            <a class="gplus-ic">
		              <i class="fab fa-google-plus-g white-text mr-4"> </i>
		            </a>
		            <!--Linkedin -->
		            <a class="li-ic">
		              <i class="fab fa-linkedin-in white-text mr-4"> </i>
		            </a>
		            <!--Instagram-->
		            <a class="ins-ic">
		              <i class="fab fa-instagram white-text"> </i>
		            </a>

		          </div>
		          <!-- Grid column -->

		        </div>
		        <!-- Grid row-->

		<!-- Grid row -->
	 <div class="row mt-3 "style="background-color:#141617;color:#D4DEE3; padding:20px; text-align:center;">

		 <!-- Grid column -->
		 <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

			 <!-- Content -->
			 <a href="#>"<h6 class="text-uppercase font-weight-bold">Knowhere</h6></a><br>
			 <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			 <p class="text-secondary">Here you can find the address for anything or any place you are searching for. We provide you path
				  to your destination.</p>

		 </div>
		 <!-- Grid column -->

		 <!-- Grid column -->
		 <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

			 <!-- Links -->
			 <h6 class="text-uppercase font-weight-bold">Products</h6>
			 <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			 <p>
				 <a class="text-secondary" href="#!">School</a>
			 </p>
			 <p>
				 <a class="text-secondary" href="#!">Bank</a>
			 </p>
			 <p>
				 <a class="text-secondary" href="#!">Hospital</a>
			 </p>
			 <p>
				 <a class="text-secondary" href="#!">Hotel</a>
			 </p>

		 </div>
		 <!-- Grid column -->

		 <!-- Grid column -->
		 <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

			 <!-- Links -->
			 <h6 class="text-uppercase font-weight-bold">Connect with Us</h6>
			 <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	
			 <p>
				 <a class="text-secondary" href="#!">Sign Up</a>
			 </p>
			 <p>
				 <a class="text-secondary" href="{% url 'aboutknowhere' %}">About Knowhere</a>
			 </p>
			 <p>
				 <a class="text-secondary" href="{% url 'aboutus' %}">About Us</a>
			 </p>

		 </div>
		 <!-- Grid column -->

		 <!-- Grid column -->
		 <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

			 <!-- Links -->
			 <h6 class="text-uppercase font-weight-bold">Contact</h6>
			 <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			 <p class="text-secondary">
				 <i class="fas fa-home mr-3"></i> Dhulikhel, Nepal</p>
			 <p class="text-secondary">
				 <i class="fas fa-envelope mr-3"></i> knowhere@gmail.com</p>
			 <p class="text-secondary">
				 <i class="fas fa-phone mr-3"></i> 9843398861</p>
			 <p class="text-secondary">
				 <i class="fas fa-print mr-3"></i> 9843398861</p>

		 </div>
		 <!-- Grid column -->

	 </div>
	 <!-- Grid row -->



	  <!-- Footer Elements -->

	  <!-- Copyright -->
	  <div class="text-center py-3" style="background-color:black;color:#6C7C84; padding:20px;
					margin-left:-15px; margin-right:-15px; margin-bottom:-25px;">© 2018 Copyright:
	    <a href="#"> &nbsp Knowhere</a>
	  </div>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->
	{% endblock %}
</body>
</html>
