{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .thumbnail {
    position: relative;
	}

	.caption {
	    position: absolute;
	    top: 50%;
	    left: 35%;
	    width: 65%;
	}

	.containerimage {
	  position: relative;
		max-width: 800px; /* Maximum width */
	  margin: 0 auto; /* Center it */
		padding-left:20px;
	}

	.containerimage .content {
	  position: absolute; /* Position the background text */
	  bottom: 42px; /* At the bottom. Use top:0 to append it to the top */
	  background: rgb(0, 0, 0); /* Fallback color */
	  background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
	  color:black;
		width:200px;
		height:50px;
		text-align:center;
		padding-top:10px;
	}
	.container{
		margin:auto;
		max-width:900px;
	}

</style>
{% block navbar %}
{% endblock %}
<div class="row" id="box-search"  style="margin-top:-15px;">
    <div class="thumbnail text-center">
        <img src="/static/display.png" width="100%" alt="My image" class="img-responsive">
        <div class="caption">
          <form class="form-inline">
            <input class="form-control mr-lg-2 bg-transparent text-white col-md-3 col-sm-5 col-xs-12 pd05" type="search"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
</div>

<br>
<div class="container">
			<div class="row">
					{% for company in companies %}
						<div class="col-mx-1">
								<!-- {{company.description}} -->
								<div class="containerimage">
									<a href="{% url 'company_list' company.name %}">
										<img  src = "{{company.image.url}}" class="shadow mb-5 bg-white rounded" width="200" height="170">
									</a>
									<div class="content">
										<a href="{% url 'company_list' company.name %}">{{company.name}}</a>
									</div>
								</div>
							</div>

					{% endfor %}
			</div>
		</div>

	{% if is_paginated %}

	{% if page_obj.has_previous %}
	  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
	  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
	  {% if page_obj.number == num %}
		<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
	  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
		<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
	  {% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
	  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
	  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}

  {% endif %}
{% endblock %}
