{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	{% for company in companies %}
		{% if company.category == category %}
	    <p>
	        <h1>{{ company.get_distance }}
	        	<a href="{% url 'company_detail'  company.category company.id %}">{{company.name}}</a> 
	        </h1>
		</p>
		{% endif %} 
	{% endfor %}  

{% endblock %}


 {% comment %} def orderby_distance(self):
        dicti = []
        for company in Company.object.all():
            dist = company.get_distance()
            name = company.name
            dist_new = {
                'name' : name,
                'distance': dist,
            }
            dicti.append(dist_new)

        return HttpResponse(dicti) {% endcomment %}